/* User */
.User {
  margin: 2px;
  padding: 8px;

  border-radius: var(--very-round);
  background-color: #5c5c5c;

  box-sizing: border-box;

  transition: all 0.15s;
}

.User:hover {
  background-color: var(--lighter-neutral);
  cursor: pointer;
  border: 2px solid var(--lighter-highlight);
}

.User:active {
  background-color: var(--active-neutral);
  cursor: pointer;
  border: 2px solid var(--lightest-highlight);
}

/* Misc */
.UserName {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  color: var(--lightest-highlight);
  margin: 1px;
}

.Ip {
  font-family: "PTMono-Regular", "Times New Roman", Times, serif;
  color: var(--lighter-highlight);
  margin: 0px;
}
