.BannerMessage {
  align-self: center;

  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.BannerContainer {
  flex-shrink: 1;

  height: 1.5em;

  border-radius: var(--round);
  margin: 5px;
  padding: 5px;

  justify-content: center;
}

.Button {
  margin: 0px 5px 0px 5px;
  padding: 0px 5px 0px 5px;
  border-radius: var(--round);

  border-width: 2px;
  border-style: solid;
  border-color: #ffffff;

  font-family: "SourceSansPro";
  font-size: 16px;
  color: #ffffff;
  background-color: #ffffff00;

  outline: none;
  transition: all 0.1s;
}

.Button:hover {
  color: #ff9100;
  background-color: #ffffff;
  cursor: pointer;
}

.CloseButton {
  position: relative;

  margin: 0px 5px 0px 5px;
  padding: 0px;
  border: none;
  background-color: #ffffff00;

  outline: none;

  fill: #ffffff;
  transition: all 0.2s;
}

.CloseButton:hover {
  cursor: pointer;
  fill: #ff4444;
}
