.CancelButton {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;

  right: 6%;
  top: 6%;

  width: 30px;
  height: 30px;
  padding: 17px;

  fill: var(--highlight-lighter);

  border-radius: 50%;
  border: solid 1px #ffffff00;

  transition: all ease-in-out 0.15s;

  outline: none;
}

.CancelButton:hover {
  transform: scale(1.2);

  background-color: var(--white-transparent-1);

  cursor: pointer;
}

.CancelButton:active {
  background-color: var(--white-transparent-3);

  fill: var(--white);

  border: solid 1px var(--highlight-lighter);
}

.ChoiceContainer {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;

  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  gap: 5px;

  max-height: 100vh;
  width: 95%;

  transition: 0.25s ease-in-out;
  transition-property: opacity;

  will-change: opacity;
}

.Info {
  grid-column: 1 / -1;

  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  color: #cecece;
  text-align: center;

  margin: 10vh 0vh 5vh 0vh;

  font-size: 25px;

  min-width: 0;
  min-height: 0;
  overflow-wrap: break-word;
  max-width: 100%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
