.Tag {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #cecece;
  margin: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
}

.ChoiceDiv {
  display: block;

  text-align: center;
  border: 2px solid #ffffff00;
  border-radius: var(--very-round);

  max-width: 180px;

  padding: 20px 20px 20px 20px;

  transition: transform 0.25s ease-out,
    border 0.15s ease-in-out,
    border-radius 0.15s ease-in-out;

  will-change: transform,
    border,
    border-radius,
    background-color,
    cursor;
}

.ChoiceDiv:hover {
  border: 2px solid #ffffff94;
  background-color: #ffffff1a;

  cursor: pointer;

  transform: scale(1.1) !important;
}

.ChoiceDiv:active {
  border: 2px solid #9dff0073;
  background-color: #9dff0048;
  border-radius: var(--round);

  transform: scale(1.2) !important;
}