@font-face {
  font-family: "OpenSansBold";
  src: url("styling/fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"),
    url("styling/fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
}

.Tag {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  color: #cecece;
  margin: 10px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  text-align: center;
}

.ChoiceDiv {
  text-align: center;
  border: 2px solid #ffffff00;
  border-radius: var(--very-round);

  padding: 20px 20px 20px 20px;

  transition: 0.1s all;
}

.ChoiceDiv:hover {
  border: 2px solid #ffffff94;
  cursor: pointer;
  background-color: #ffffff1a;

  transform: scale(1.1);
}

.ChoiceDiv:active {
  border: 2px solid #9dff0073;
  background-color: #9dff0048;
  border-radius: var(--round);
}