@font-face {
  font-family: "OpenSansRegular";
  src: url("styling/fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansBold";
  src: url("styling/fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"),
    url("styling/fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("styling/fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "PTMono-Regular";
  src: url("styling/fonts/PTMono/PTMono-Regular.woff") format("woff");
  font-weight: normal;
}

p, span {
  font-family: "SourceSansPro";
}

:root {
  box-sizing: border-box;

  /* Border Radius */
  --very-round: 15px;
  --round: 10px;

  /* Colors */
  --white: #f3f3f3;

  --highlight-lightest: #dadada;
  --highlight-lighter: #c4c4c4;

  --active-neutral: #aaaaaa;
  --active-darker: #7e7e7e;

  --neutral-lighter: #666666;
  --neutral: #535353;
  --neutral-darker: #444444;

  --shadow-darker: #2c2c2c;

  /* Transparency */
  --white-transparent-0: #ffffff1a;
  --white-transparent-1: #ffffff2c;
  --white-transparent-3: #ffffff60;
}

.AppRoot {
  display: block;

  height: 100vh;
  width: 100vw;

  overflow: auto;
  padding: 5px;

  box-sizing: border-box;
}

.AppDiv {
  box-sizing: border-box;

  padding: 5px;
  height: 100%;

  transition: all 0.25s;
}

/* Width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: var(--very-round);
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: var(--very-round);
  background: var(--active-darker);

  background-clip: content-box;
  border: 7px solid transparent;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

div {
  display: flex;
}

.Block {
  display: block;
}
