@font-face {
  font-family: "OpenSansBold";
  src: url("styling/fonts/OpenSans/opensans-bold-webfont.woff2") format("woff2"),
    url("styling/fonts/OpenSans/opensans-bold-webfont.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("styling/fonts/OpenSans/opensans-regular-webfont.woff2") format("woff2"),
    url("styling/fonts/OpenSans/opensans-regular-webfont.woff") format("woff");
  font-weight: normal;
}

html,
body,
#root {
  font-family: "OpenSans";

  box-sizing: border-box;

  --very-round: 15px;
  --round: 10px;

  --lightest-highlight: #dadada;
  --lighter-highlight: #c4c4c4;
  --active-neutral: #aaaaaa;
  --lighter-neutral: #707070;
  --neutral: #7c7c7c;
  --darker-neutral: #5c5c5c;
  --darker-shadow: #383838;
}

.AppDiv {
  transform: translate3d(0, 0, 0);
  box-sizing: border-box;

  padding: 5px;

  display: grid;

  grid-template-rows: minmax(0px, min-content) auto;
  grid-template-columns: 50% 50%;

  height: 100%;

  transition: all 0.25s;
}

.Col {
  display: flex;
  flex-direction: column;

  max-height: 100%;
}

/* Width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: var(--very-round);
  background: #5c5c5c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: var(--very-round);
  background: #7e7e7e;

  background-clip: content-box;
  border: 7px solid transparent;
}
