.InputField {
  font-family: "OpenSansRegular";
  border-radius: var(--round);
  box-sizing: border-box;

  outline: none;
  border: none;
  background-color: var(--neutral-lighter);

  font-size: 15px;

  padding: 0.6em 0.6em;
  width: 100%;

  color: white;

  transition: all 0.2s;
}

.InputField::placeholder {
  font-family: "OpenSansBold";

  color: var(--highlight-lighter);
}

.InputField:focus {
  border: 1px solid var(--highlight-lighter);
}

.Title {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  color: var(--highlight-lighter);
  margin: 0px;
  margin-bottom: 10px;
}

.ComponentContainer {
  overflow-y: auto;

  padding: 15px;
  height: 100%;

  background-color: var(--neutral);
  border-radius: var(--round);
}
