@font-face {
    font-family: "OpenSansBold";
    src: url('OpenSans/opensans-bold-webfont.woff2') format('woff2'),
         url('OpenSans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
}

.Undisplayed {
    display: none;
    column-gap: 0px;
}

.ChoiceContainer {
    display: grid;
    position: fixed;

    justify-items: center;

    max-height: 100vh;

    /* grid-template-columns: repeat(6, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));

    column-gap: 0px;

    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    transition-duration: 0.25s;
    transition-timing-function: ease-in-out;
    transition-property: all;
}

.Info {
    display: block;

    grid-column: 1 / -1;

    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #cecece;
    margin: 0px 0px 30px 0px;

    font-size: 25px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}