@font-face {
    font-family: "OpenSansBold";
    src: url('OpenSans/opensans-bold-webfont.woff2') format('woff2'),
         url('OpenSans/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: "OpenSans";
    src: url('OpenSans/opensans-regular-webfont.woff2') format('woff2'),
         url('OpenSans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
}

.Window {
    display: flex;
    flex-direction: column;
    flex: 1;

    background-color: #707070;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

.InputField {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    border-radius: 5px;
    
    outline:none;
    border: none;
    background-color: #707070;
    
    padding:0.6em 0.6em;
    
    font-size: 14px;

    margin: 5px 5px 5px 5px;
}

.InputField::placeholder {
    font-family: "OpenSans";
    
    color: #9b9b9b;
}

p {
    font-family: "OpenSans", Arial, Helvetica, sans-serif;
    margin: 0px;
}

.Title {
    font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
    color: #b6b6b6;
    margin: 0px;
    margin-bottom: 10px;
}