.MessageList {
  margin: 0px 0px 10px 0px;
}

.MessageGroupUser {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  color: var(--highlight-lighter);
  margin: 5px;
  font-size: 34px;
  user-select: none;
}

.MessageGroupCollapsible {
  background-color: #42424277;
  border-radius: var(--extremely-round);
  padding: 5px;
  transition: all 0.1s ease-in-out;
}

.MessageGroupCollapsible:hover {
  background-color: #6161619a;
  cursor: pointer;
  border: 2px solid var(--shadow-darker);
}

.MessageGroupCollapsible:active {
  background-color: #9c9c9c9a;
  cursor: pointer;
  border: 2px solid rgb(80, 80, 80);
}

.MessageGroupContainer {
  background: none;
  padding: 5px;

  transition: all 0.2s ease-in-out;

  overflow: hidden;
  max-height: 0px;
}

.MessageGroupContainer .Uncollapsed {
  background: linear-gradient(180deg, rgba(40,40,40,0.6979166666666667) 0%, rgba(255,255,255,0) 35%);
  height: auto;
}

.Message {
  border-radius: var(--round);

  padding: 7.5px 10px 7.5px 10px;

  margin: 10px;

  background-color: #41414170;
  box-shadow: 5px 5px 10px #272727;
}

.MessageContent {
  font-family: "OpenSans", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--highlight-lighter);
}

.MessageAuthor {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: var(--active-neutral);
}

.SubmitButton {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  font-size: 12px;
  display: block;

  overflow: hidden;

  box-sizing: border-box;

  border-radius: var(--round);
  box-shadow: none;

  color: #ffffff;
  border: none;
  background-color: #45bbff;

  transition: all ease-in-out 0.15s;

  outline: none;
  width: 0px;
}

.SubmitButton:hover {
  cursor: pointer;
  border: 2px solid var(--highlight-lighter);
}

.SubmitButton:active {
  border: 2.5px solid #ffffff;
  background-color: #96fa60;
}
