.MessageList {
  display: block;
  width: 100%;

  margin: 0px 0px 10px 0px;
}

.MessageGroupUser {
  font-family: "OpenSansBold", Arial, Helvetica, sans-serif;
  color: var(--highlight-lighter);
  margin: 5px;
  font-size: 34px;
  user-select: none;
}

.MessageGroupCollapsible {
  display: block;

  background-color: #42424277;
  border-radius: var(--extremely-round);
  padding: 5px;
  transition: all 0.1s ease-in-out;
}

.MessageGroupCollapsible:hover {
  background-color: #6161619a;
  cursor: pointer;
  border: 2px solid var(--shadow-darker);
}

.MessageGroupCollapsible:active {
  background-color: #9c9c9c9a;
  cursor: pointer;
  border: 2px solid rgb(80, 80, 80);
}

.MessageGroupContainer {
  display: block;

  background: none;
  padding: 5px;

  transition: all 0.2s ease-in-out;

  overflow: hidden;
  max-height: 0px;
}

.MessageGroupContainer.Uncollapsed {
  background: linear-gradient(
    180deg,
  rgba(40,40,40,0.6979166666666667) 0%,
  rgba(255,255,255,0) 35%
  );
  height: auto;

  padding: 10px;
}
