.UploadFileContainer {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
}

.UploadFileRegion {
  width: 50%;
  height: 45%;

  border-radius: var(--round);

  outline: 4px dashed var(--highlight-lighter);
  outline-offset: 10px;

  background-color: var(--white-transparent-0);

  text-align: center;
  transition: 0.1s ease-in-out all;
}

.UploadFileRegion:hover {
  background-color: var(--white-transparent-1);
  outline-offset: -17.5px;

  cursor: pointer;
}

.UploadText {
  font-family: "OpenSansBold";
  font-size: 30px;

  color: var(--highlight-lightest);
}