/* Container */
.UploadFileRegion {
  display: flex;

  align-items: center;
  justify-content: center;

  flex-basis: 50%;

  height: 45%;

  background-color: var(--white-transparent-0);
  border-radius: var(--very-round);
  border: 1px solid var(--active-neutral);

  transition: 0.1s ease-in-out all;
}

.UploadFileRegion:hover {
  background-color: var(--white-transparent-1);
  border-radius: calc(var(--very-round) + 5px);
  border-width: 2px;

  cursor: pointer;
}

/* Container border */
.UploadFileRegionBorder {
  border: var(--highlight-lighter) dashed 5px;
  border-radius: var(--very-round);

  width: calc(100% - 50px);
  height: calc(100% - 50px);

  transition: all 0.15s ease-in-out;
}

.UploadFileRegion:hover .UploadFileRegionBorder, .DraggedBorder {
  width: calc(100% - 70px);
  height: calc(100% - 70px);

  border-radius: calc(var(--very-round) + 5px);
}

.UploadFileRegion:active .UploadFileRegionBorder, .ActiveBorder {
  width: calc(100% - 85px);
  height: calc(100% - 85px);

  border-radius: calc(var(--very-round) + 4px);
}

/* Small Container Content */
.ContentBox {
  display: block;

  position: absolute;
  text-align: center;

  width: 30%;
}

.UploadText {
  font-family: 'OpenSansBold';
  font-size: 30px;

  color: var(--highlight-lightest);
}

.UploadStipulate {
  font-family: 'PTMono-Regular';

  color: var(--highlight-lighter);
  font-size: 20px;
}
